# BELAJAR PYTHON TEKOM F 24

## Praktikum di Kelas

In [1]:
print("Nama : Risna Asri")
print("NIM : 240210501023")

Nama : Risna Asri
NIM : 240210501023

### Analisis:
Kode program tersebut menggunakan fungsi print() untuk menampilkan teks ke layar.

## Percobaan Python Comments

In [2]:
#Creating a Comment
#This is a comment
print("Hello, World!")

print("Hello, World!") #This is a comment

#print("Hello, World!")
print("Cheers, Mate!")

Hello, World!
Hello, World!
Cheers, Mate!

### Analisis:
Kode program tersebut menunjukkan penggunaan komentar dalam Python. Tanda pagar (#) digunakan untuk menulis komentar yang tidak dijalankan oleh program. Komentar bisa ditempatkan di awal baris atau di akhir perintah. Baris yang diawali # akan diabaikan oleh Python. Program ini hanya menampilkan teks “Hello, World!” dan “Cheers, Mate!” ke layar, sedangkan baris yang dikomentari tidak dijalankan.

In [3]:
#Multiline Comments
#This is a comment
#written in
#more than just one line
print("Hello, World!")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!
Hello, World!

### Analisis:
Kode program tersebut menunjukkan dua cara membuat komentar banyak baris (multiline) dalam Python.
Cara pertama menggunakan beberapa tanda pagar (#) di setiap baris, sedangkan cara kedua menggunakan tiga tanda kutip (""" ... """).
Kedua cara tersebut digunakan untuk memberikan penjelasan lebih panjang pada kode tanpa memengaruhi jalannya program. Program tetap menampilkan teks “Hello, World!” ke layar.

## Percobaan Python Variables

In [4]:
#1.Python Variables
#Creating Variables
x = 5
y = "John"
print(x)
print(y)

x = 5
y = "John"
print(x)
print(y)

5
John
5
John

### Analisis:
Kode program tersebut menunjukkan cara membuat dan menggunakan variabel dalam Python. Variabel x diberi nilai 5 (tipe data numerik), dan y diberi nilai "John" (tipe data string). Fungsi print() digunakan untuk menampilkan nilai dari masing-masing variabel ke layar. Kedua bagian kode memiliki hasil yang sama, yaitu menampilkan 5 dan John.

In [5]:
#Casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### Analisis:
Kode program tersebut menunjukkan proses casting (konversi tipe data) dalam Python. Nilai 3 dikonversi menjadi beberapa tipe data berbeda: x menjadi string '3', y menjadi integer 3, dan z menjadi float 3.0. Casting digunakan untuk mengubah tipe data sesuai kebutuhan program.

In [6]:
#Get the Type
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Analisis:
Kode program tersebut menunjukkan cara memeriksa tipe data variabel menggunakan fungsi type(). Variabel x bernilai 5 bertipe integer, sedangkan y bernilai "John" bertipe string. Fungsi print() digunakan untuk menampilkan tipe data masing-masing variabel ke layar.

In [7]:
#Single or Double Quotes?
x = "John"
# is the same as
x = 'John'

### Analisis:
Kode program tersebut menunjukkan bahwa Python memperbolehkan penggunaan tanda kutip tunggal (') maupun ganda (") untuk membuat string. Kedua penulisan x = "John" dan x = 'John' memiliki arti yang sama, yaitu variabel x menyimpan teks "John".

In [8]:
#Case-Sensitive
a = 4
A = "Sally"
#A will not overwrite a

### Analisis:
Kode program tersebut menunjukkan bahwa Python bersifat case-sensitive, artinya huruf besar dan kecil dianggap berbeda. Variabel a dan A adalah dua variabel yang berbeda — a bernilai 4, sedangkan A bernilai "Sally". Nilai A tidak akan menimpa nilai a.

In [9]:
#2.Variable Names
#Variable Names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

### Analisis:
Kode program tersebut menunjukkan contoh penulisan nama variabel yang benar dalam Python. Semua variabel (myvar, my_var, _my_var, myVar, MYVAR, dan myvar2) valid karena mengikuti aturan penamaan, yaitu hanya menggunakan huruf, angka, dan garis bawah (_), serta diawali dengan huruf atau garis bawah.

In [10]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

### Analisis:
Kode program tersebut menunjukkan contoh penulisan variabel yang salah dalam Python. Variabel 2myvar, my-var, dan my var tidak valid karena melanggar aturan penamaan. Dalam Python, nama variabel tidak boleh diawali angka, tidak boleh mengandung tanda hubung (-), dan tidak boleh mengandung spasi. Akibatnya, program akan menampilkan error saat dijalankan.

In [ ]:
#3.Multi Words Variable Names
#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

### Analisis:
Kode program tersebut menunjukkan tiga gaya penulisan variabel dengan beberapa kata dalam Python. Camel Case (myVariableName) menggunakan huruf kecil di awal dan huruf besar di setiap kata berikutnya. Pascal Case (MyVariableName) menuliskan setiap kata dengan huruf awal besar. Sedangkan Snake Case (my_variable_name) memisahkan setiap kata dengan garis bawah. Ketiganya valid digunakan, namun Snake Case paling umum dipakai sesuai konvensi penulisan Python (PEP 8).

In [ ]:
#4.Assign Multiple Values
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

### Analisis:
Kode program tersebut menunjukkan cara memberikan beberapa nilai ke beberapa variabel sekaligus dalam satu baris. Variabel x, y, dan z masing-masing diberi nilai "Orange", "Banana", dan "Cherry". Fungsi print() digunakan untuk menampilkan nilai setiap variabel ke layar. Teknik ini membuat penulisan kode lebih singkat dan efisien.

In [ ]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

### Analisis:
Kode program tersebut menunjukkan cara memberikan satu nilai yang sama ke beberapa variabel sekaligus. Nilai "Orange" disimpan ke dalam variabel x, y, dan z secara bersamaan. Saat ketiganya dicetak dengan print(), hasilnya sama karena ketiganya memiliki nilai yang identik, yaitu "Orange".

In [ ]:
#Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

### Analisis:
Kode program tersebut menunjukkan cara unpacking koleksi (daftar) ke dalam beberapa variabel. List fruits berisi tiga elemen: "apple", "banana", dan "cherry". Melalui perintah x, y, z = fruits, setiap elemen list disimpan ke variabel secara berurutan: x berisi "apple", y berisi "banana", dan z berisi "cherry". Fungsi print() kemudian menampilkan masing-masing nilai tersebut ke layar.

In [12]:
#5.Output Variables
#Output Variables
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

Python is awesome
Python is awesome
Python is awesome
15
5 John

### Analisis:
Kode program tersebut menunjukkan berbagai cara menampilkan variabel dan menggabungkan nilai di Python. Pada bagian awal, variabel x berisi string dan ditampilkan dengan print(x). Kemudian, beberapa string (x, y, z) dapat dicetak bersamaan menggunakan koma (,) atau digabung menjadi satu kalimat menggunakan operator +. Saat x dan y berupa angka, operator + berfungsi untuk menjumlahkan nilainya. Namun, jika x bertipe angka dan y bertipe string, operator + tidak bisa digunakan, sehingga print(x, y) digunakan agar Python menampilkan keduanya tanpa error.

In [13]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Analisis:
Kode program tersebut akan menyebabkan error karena Python tidak dapat menambahkan angka (int) dengan teks (str) menggunakan operator +. Variabel x bertipe integer dengan nilai 5, sedangkan y bertipe string dengan nilai "John". Untuk menampilkannya bersama, harus menggunakan koma (print(x, y)) atau mengubah tipe data agar sama, misalnya print(str(x) + y).

In [14]:
#6.Global Variables
#Global Variables
x = "awesome"
def myfunc():
  print("Python is " + x)
myfunc()

x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is awesome
Python is fantastic
Python is awesome

### Analisis:
Kode program tersebut menunjukkan perbedaan variabel global dan lokal. Variabel x di luar fungsi bersifat global dan dapat diakses dari mana saja. Namun, jika x dideklarasikan ulang di dalam fungsi, ia menjadi variabel lokal yang nilainya hanya berlaku di dalam fungsi tersebut.

In [ ]:
#The global Keyword
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

x = "awesome"
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

### Analisis:
Kode program tersebut menunjukkan penggunaan kata kunci global dalam Python. Dengan global, variabel yang dibuat di dalam fungsi menjadi variabel global sehingga dapat diakses dan diubah nilainya di luar fungsi. Pada contoh pertama dan kedua, fungsi myfunc() menetapkan x = "fantastic" sebagai variabel global, sehingga saat dicetak di luar fungsi, hasilnya adalah “Python is fantastic”.

## Percobaan Python Data Types

In [ ]:
#Getting the Data Type
x = 5
print(type(x))

### Analisis:
Kode program tersebut menunjukkan cara memeriksa tipe data sebuah variabel menggunakan fungsi type(). Variabel x bernilai 5, sehingga print(type(x)) akan menampilkan hasil <class 'int'>, yang berarti x bertipe integer.

## Percobaan Python Numbers

In [ ]:
#Python Numbers
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

### Analisis:
Kode program tersebut menunjukkan tiga jenis tipe data numerik dalam Python, yaitu int (bilangan bulat), float (bilangan desimal), dan complex (bilangan kompleks). Variabel x, y, dan z masing-masing menyimpan nilai 1, 2.8, dan 1j. Fungsi type() digunakan untuk menampilkan tipe data dari setiap variabel tersebut.

In [ ]:
#Int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

### Analisis:
Kode program tersebut menunjukkan contoh tipe data int (integer) dalam Python. Variabel x, y, dan z masing-masing menyimpan bilangan bulat positif, sangat besar, dan negatif. Fungsi type() digunakan untuk memastikan ketiganya bertipe int, karena Python dapat menangani bilangan bulat dengan ukuran tak terbatas.

In [ ]:
#Float
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

### Analisis:
Kode program tersebut menunjukkan contoh tipe data float (bilangan desimal) dalam Python. Variabel x, y, dan z menyimpan angka dengan titik desimal serta bilangan dalam notasi ilmiah (e atau E), yang mewakili pangkat sepuluh. Semua variabel tersebut bertipe float, baik menggunakan desimal biasa maupun notasi eksponensial.

In [ ]:
#Complex
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

### Analisis:
Kode program tersebut menunjukkan contoh tipe data complex (bilangan kompleks) dalam Python. Variabel x, y, dan z masing-masing menyimpan bilangan dengan bagian imajiner (j). Fungsi type() digunakan untuk menampilkan tipe datanya, dan hasilnya untuk ketiganya adalah <class 'complex'>.

In [ ]:
#Type Conversion
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

### Analisis:
Kode program tersebut menunjukkan konversi tipe data numerik (type conversion) dalam Python. Variabel x, y, dan z masing-masing bertipe int, float, dan complex. Nilai x dikonversi menjadi float pada variabel a, y dikonversi menjadi int pada variabel b, dan x dikonversi menjadi complex pada variabel c. Fungsi print() menampilkan hasil konversi beserta tipe datanya menggunakan type().

In [ ]:
#Random Number
import random

print(random.randrange(1, 10))

### Analisis:
Kode program tersebut menunjukkan cara menghasilkan angka acak menggunakan modul random di Python. Fungsi random.randrange(1, 10) akan menghasilkan bilangan bulat acak antara 1 hingga 9 (batas atas 10 tidak termasuk). Setiap kali program dijalankan, hasilnya bisa berbeda.

## Percobaan Python Casting

In [ ]:
#Specify a Variable Type
#Integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

#Floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

#Strings
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### Analisis:
Kode program tersebut menunjukkan cara menentukan tipe data variabel secara eksplisit (casting) di Python. Dengan fungsi int(), float(), dan str(), nilai dapat dikonversi menjadi bilangan bulat, bilangan desimal, atau string. Contohnya, int("3") menghasilkan angka 3, float("4.2") menghasilkan 4.2, dan str(2) menghasilkan teks '2'. Teknik ini berguna untuk memastikan tipe data sesuai kebutuhan program.

## Percobaan Python Strings

In [ ]:
#1.Python Strings
#Strings
print("Hello")
print('Hello')

### Analisis:
Kode program tersebut menunjukkan bahwa Python dapat menggunakan tanda kutip tunggal (') maupun ganda (") untuk membuat string. Kedua perintah print("Hello") dan print('Hello') menghasilkan output yang sama, yaitu Hello.

In [ ]:
#Quotes Inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

### Analisis:
Kode program tersebut menunjukkan cara menggunakan tanda kutip di dalam string. Python memperbolehkan kombinasi tanda kutip tunggal dan ganda agar tidak terjadi konflik. Misalnya, "It's alright" menggunakan kutip ganda di luar agar kutip tunggal di dalam tidak dianggap penutup string, dan sebaliknya. Semua perintah tersebut menghasilkan teks dengan tanda kutip sesuai penulisannya.

In [ ]:
#Assign String to a Variable
a = "Hello"
print(a)

### Analisis:
Kode program tersebut menunjukkan cara menyimpan string ke dalam variabel. Variabel a berisi teks "Hello", kemudian ditampilkan menggunakan fungsi print(). Hasil output yang muncul di layar adalah Hello.

In [ ]:
#Multiline Strings
#double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

#single quotes
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

### Analisis:
Kode program tersebut menunjukkan cara membuat string dengan beberapa baris (multiline string) di Python. String dapat ditulis menggunakan tiga tanda kutip ganda (""") atau tiga tanda kutip tunggal ('''). Teks di dalamnya dapat berisi beberapa baris tanpa perlu karakter khusus untuk pindah baris. Kedua cara tersebut valid dan menghasilkan output berupa paragraf teks yang sama persis.

In [ ]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

### Analisis:
Kode program tersebut menunjukkan bahwa string dalam Python bersifat seperti array (urutan karakter). Setiap karakter memiliki indeks mulai dari 0. Pada contoh ini, a[1] mengambil karakter pada indeks ke-1 dari string "Hello, World!", yaitu huruf ‘e’.

In [ ]:
#Looping Through a String
for x in "banana":
  print(x)

### Analisis:
Kode program tersebut menunjukkan cara melakukan perulangan pada setiap karakter dalam string. Menggunakan for x in "banana", Python akan mengeksekusi blok kode untuk setiap karakter dalam string "banana" secara berurutan. Hasilnya, setiap huruf dicetak di baris terpisah.

In [ ]:
#String Length
a = "Hello, World!"
print(len(a))

### Analisis:
Kode program tersebut menunjukkan cara mengetahui panjang string menggunakan fungsi len(). Variabel a berisi string "Hello, World!", sehingga len(a) mengembalikan jumlah karakter termasuk spasi dan tanda baca, yaitu 13.

In [ ]:
#Check String
txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

### Analisis:
Kode program tersebut menunjukkan cara memeriksa keberadaan substring di dalam string. Dengan perintah "free" in txt, Python akan mengembalikan True jika kata "free" ada dalam variabel txt. Selain itu, penggunaan if "free" in txt: memungkinkan program mengeksekusi blok kode tertentu, misalnya menampilkan pesan "Yes, 'free' is present." saat substring ditemukan.

In [ ]:
#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

### Analisis:
Kode program tersebut menunjukkan cara memeriksa apakah sebuah substring tidak ada dalam string. Pernyataan "expensive" not in txt mengembalikan True jika kata "expensive" tidak ditemukan di variabel txt. Dengan menggunakan if "expensive" not in txt:, program dapat mengeksekusi blok kode tertentu, misalnya menampilkan pesan "No, 'expensive' is NOT present." saat substring tidak ada.

In [ ]:
#2.Slicing Strings
#Slicing
b = "Hello, World!"
print(b[2:5])

### Analisis:
Kode program tersebut menunjukkan cara mengambil potongan (slicing) dari string di Python. Sintaks b[2:5] mengambil karakter dari indeks 2 sampai 4 (indeks akhir 5 tidak termasuk) dari string "Hello, World!". Hasilnya adalah "llo".

In [ ]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

### Analisis:
Kode program tersebut menunjukkan cara mengambil potongan string dari awal hingga indeks tertentu. Sintaks b[:5] mengambil karakter dari indeks 0 sampai 4 dari string "Hello, World!". Hasilnya adalah "Hello".

In [ ]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

### Analisis:
Kode program tersebut menunjukkan cara mengambil potongan string dari indeks tertentu hingga akhir. Sintaks b[2:] mengambil karakter mulai dari indeks 2 sampai akhir dari string "Hello, World!". Hasilnya adalah "llo, World!".

In [ ]:
#Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

### Analisis:
Kode program tersebut menunjukkan cara mengakses potongan string menggunakan indeks negatif. Indeks negatif menghitung dari akhir string, dengan -1 sebagai karakter terakhir. Sintaks b[-5:-2] mengambil karakter dari indeks -5 sampai -3 dari string "Hello, World!". Hasilnya adalah "orl".

In [ ]:
#3.Modify Strings
#Upper Case
a = "Hello, World!"
print(a.upper())

### Analisis:
Kode program tersebut menunjukkan cara mengubah semua huruf dalam string menjadi huruf kapital (upper case). Fungsi a.upper() mengubah string "Hello, World!" menjadi "HELLO, WORLD!" tanpa mengubah nilai asli variabel a.

In [ ]:
#Lower Case
a = "Hello, World!"
print(a.lower())

### Analisis:
Kode program tersebut menunjukkan cara mengubah semua huruf dalam string menjadi huruf kecil (lower case). Fungsi a.lower() mengubah string "Hello, World!" menjadi "hello, world!" tanpa mengubah nilai asli variabel a.

In [ ]:
#Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

### Analisis:
Kode program tersebut menunjukkan cara menghapus spasi atau karakter whitespace di awal dan akhir string menggunakan metode strip(). Pada contoh ini, a.strip() mengubah string " Hello, World! " menjadi "Hello, World!" tanpa mengubah spasi di tengah teks.

In [ ]:
#Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

### Analisis:
Kode program tersebut menunjukkan cara mengganti karakter atau substring dalam string menggunakan metode replace(). Perintah a.replace("H", "J") mengganti huruf "H" menjadi "J" pada string "Hello, World!", sehingga hasilnya adalah "Jello, World!".

In [ ]:
#Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

### Analisis:
Kode program tersebut menunjukkan cara memisahkan string menjadi list berdasarkan pemisah tertentu menggunakan metode split(). Perintah a.split(",") memisahkan string "Hello, World!" di setiap koma, sehingga menghasilkan list ['Hello', ' World!'].

In [ ]:
#4.String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

### Analisis:
Kode program tersebut menunjukkan cara menggabungkan (concatenate) string di Python menggunakan operator +. Pada contoh pertama, a + b menghasilkan "HelloWorld", sedangkan pada contoh kedua, a + " " + b menambahkan spasi di antara kedua string sehingga hasilnya "Hello World".

In [ ]:
#5.Format - Strings
#String Format
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

### Analisis:
Kode program tersebut menunjukkan pentingnya tipe data saat menggabungkan string. Variabel age bertipe integer, sehingga mencoba menggabungkannya langsung dengan string menggunakan + akan menimbulkan error. Untuk menggabungkan, angka harus dikonversi menjadi string terlebih dahulu, misalnya menggunakan str(age) atau metode string formatting.

In [ ]:
#F-Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

### Analisis:
Kode program tersebut menunjukkan cara menggabungkan variabel ke dalam string menggunakan f-string di Python. Dengan menambahkan huruf f di depan string dan menempatkan variabel di dalam kurung kurawal {}, variabel age secara otomatis disisipkan ke dalam teks. Hasilnya adalah "My name is John, I am 36".

In [ ]:
#Placeholders and Modifiers
price = 59
txt = f"The price is {price} dollars"
print(txt)

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)

### Analisis:
Kode program tersebut menunjukkan penggunaan f-string dengan placeholder dan modifier di Python. F-string memungkinkan variabel atau ekspresi disisipkan langsung ke dalam string dengan {}. Contohnya, f"The price is {price} dollars" menyisipkan nilai variabel price, f"The price is {price:.2f} dollars" menampilkan angka dengan 2 digit desimal, dan f"The price is {20 * 59} dollars" langsung mengeksekusi ekspresi di dalam {} sehingga hasil perkalian ditampilkan di string.

In [ ]:
#6.Escape Characters
txt = "We are the so-called "Vikings" from the north."

txt = "We are the so-called \"Vikings\" from the north."

### Analisis:
Kode program tersebut menunjukkan penggunaan karakter escape (\) dalam string untuk memasukkan tanda kutip di dalam teks tanpa menimbulkan error. String "We are the so-called \"Vikings\" from the north." menggunakan \" agar tanda kutip ganda di sekitar kata "Vikings" tetap dikenali sebagai bagian dari string, bukan penutup string.

## Percobaan 7 Python Booleans

In [ ]:
#Boolean Values
print(10 > 9)
print(10 == 9)
print(10 < 9)

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

### Analisis:
Kode program tersebut menunjukkan nilai boolean dan penggunaannya untuk kontrol alur. Perbandingan seperti 10 > 9 menghasilkan True/False, dan percabangan if menggunakan nilai boolean untuk menentukan blok kode yang dijalankan, misalnya menampilkan "b is not greater than a".

In [ ]:
#Evaluate Values and Variables
print(bool("Hello"))
print(bool(15))

x = "Hello"
y = 15
print(bool(x))
print(bool(y))

### Analisis:
Kode program tersebut menunjukkan cara mengubah nilai atau variabel menjadi boolean menggunakan fungsi bool(). String atau angka nonkosong, seperti "Hello" dan 15, dikonversi menjadi True. Variabel yang berisi nilai tersebut juga menghasilkan True saat dievaluasi dengan bool().

In [ ]:
#Most Values are True
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

### Analisis:
Kode program tersebut menunjukkan bahwa kebanyakan nilai dalam Python dianggap True saat dikonversi menjadi boolean dengan bool(). Contohnya, string "abc", angka 123, dan list ["apple", "cherry", "banana"] semuanya menghasilkan True karena tidak kosong atau bernilai nol.

In [ ]:
#Some Values are False
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

class myclass():
  def __len__(self):
    return 0
myobj = myclass()
print(bool(myobj))

### Analisis:
Kode program tersebut menunjukkan bahwa beberapa nilai dalam Python dianggap False saat dikonversi menjadi boolean menggunakan bool(). Nilai-nilai seperti False, None, 0, string kosong "", tuple kosong (), list kosong [], dan dictionary kosong {} menghasilkan False. Selain itu, objek dari kelas yang metode __len__()-nya mengembalikan 0 juga dianggap False, seperti contoh myobj.

In [ ]:
#Functions can Return a Boolean
def myFunction() :
  return True
print(myFunction())

def myFunction() :
  return True
if myFunction():
  print("YES!")
else:
  print("NO!")

x = 200
print(isinstance(x, int))

### Analisis:
Kode program tersebut menunjukkan bahwa fungsi dapat mengembalikan nilai boolean. Fungsi myFunction() mengembalikan True, yang dapat langsung dicetak atau digunakan dalam percabangan if untuk mengeksekusi blok kode tertentu, seperti menampilkan "YES!". Contoh lain, isinstance(x, int) mengembalikan True jika variabel x bertipe integer, sehingga menunjukkan penggunaan boolean untuk memeriksa tipe data.

## Percobaan 8 Python Operators

In [ ]:
#1.Python Operators
print(10 + 5)

sum1 = 100 + 50      # 150 (100 + 50)
sum2 = sum1 + 250    # 400 (150 + 250)
sum3 = sum2 + sum2   # 800 (400 + 400)

### Analisis:
Kode program tersebut menunjukkan penggunaan operator aritmatika + dalam Python untuk menjumlahkan angka. Contoh pertama langsung menampilkan hasil penjumlahan 10 + 5. Selanjutnya, variabel sum1, sum2, dan sum3 digunakan untuk menyimpan hasil penjumlahan bertahap, yaitu 150, 400, dan 800, yang menunjukkan bagaimana operasi aritmatika dapat digunakan secara berurutan.

In [ ]:
#2.Arithmetic Operators
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

### Analisis:
Kode program tersebut menunjukkan penggunaan operator aritmatika dasar dalam Python. Dengan variabel x = 15 dan y = 4, Python dapat melakukan penjumlahan (+) menghasilkan 19, pengurangan (-) menghasilkan 11, perkalian (*) menghasilkan 60, pembagian (/) menghasilkan 3.75, sisa bagi (%) menghasilkan 3, pangkat (**) menghasilkan 50625, dan pembagian bulat (//) menghasilkan 3. Contoh ini memperlihatkan cara Python melakukan berbagai operasi matematika dasar.

In [ ]:
#Division in Python
x = 12
y = 5
print(x / y)

x = 12
y = 5
print(x // y)

### Analisis:
Kode program tersebut menunjukkan perbedaan antara pembagian biasa (/) dan pembagian bulat (//) di Python. Operator / menghasilkan nilai desimal (floating point), sehingga 12 / 5 menghasilkan 2.4, sedangkan // menghasilkan pembagian bulat, sehingga 12 // 5 menghasilkan 2 dengan membuang sisa bagi.

In [ ]:
#3.Assignment Operators
#The Walrus Operator
numbers = [1, 2, 3, 4, 5]
count = len(numbers)
if count > 3:
    print(f"List has {count} elements")

if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

### Analisis:
Kode program tersebut menunjukkan penggunaan operator penugasan (=) dan walrus operator (:=) dalam Python. Variabel count menyimpan panjang list numbers menggunakan len(). Pada contoh pertama, penugasan biasa dilakukan sebelum if. Pada contoh kedua, walrus operator memungkinkan penugasan dan pengecekan kondisi dilakukan sekaligus dalam satu baris, sehingga count tetap menyimpan panjang list dan kondisi > 3 dapat langsung dievaluasi.

In [ ]:
#4.Comparison Operators
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

### Analisis:
Kode program tersebut menunjukkan penggunaan operator perbandingan dalam Python. Dengan variabel x = 5 dan y = 3, operator seperti == (sama dengan), != (tidak sama dengan), > (lebih besar), < (lebih kecil), >= (lebih besar atau sama dengan), dan <= (lebih kecil atau sama dengan) menghasilkan nilai True atau False tergantung kebenaran perbandingan.

In [ ]:
#Chaining Comparison Operators
x = 5

print(1 < x < 10)

print(1 < x and x < 10)

### Analisis:
Kode program tersebut menunjukkan cara menggunakan operator perbandingan berantai (chaining) dalam Python. Pernyataan 1 < x < 10 mengecek apakah x berada di antara 1 dan 10, menghasilkan True. Cara ini setara dengan 1 < x and x < 10, namun lebih ringkas dan mudah dibaca.

In [ ]:
#5.Logical Operators
x = 5
print(x > 0 and x < 10)

x = 5
print(x < 5 or x > 10)

x = 5
print(not(x > 3 and x < 10))

### Analisis:
Kode program tersebut menunjukkan penggunaan operator logika dalam Python.

and mengembalikan True jika kedua kondisi benar, misalnya x > 0 and x < 10 → True.

or mengembalikan True jika salah satu kondisi benar, misalnya x < 5 or x > 10 → False.

not membalikkan nilai boolean, sehingga not(x > 3 and x < 10) → False karena kondisi di dalam () awalnya True.

In [ ]:
#6.Identity Operators
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x == y)

x = ["apple", "banana"]
y = ["apple", "banana"]
print(x is not y)

### Analisis:
Kode program tersebut menunjukkan penggunaan operator identitas (is dan is not) dalam Python.

is mengecek apakah dua variabel merujuk ke objek yang sama di memori. Contohnya, x is z → True karena z menunjuk ke objek yang sama dengan x, sedangkan x is y → False karena meskipun isi sama, keduanya adalah objek berbeda.

== membandingkan nilai atau isi objek, sehingga x == y → True.

is not mengecek apakah dua variabel bukan objek yang sama, misalnya x is not y → True.

In [ ]:
#Difference Between is and ==
x = [1, 2, 3]
y = [1, 2, 3]
print(x == y)
print(x is y)

### Analisis:
Kode program tersebut menunjukkan perbedaan antara == dan is dalam Python. Operator == membandingkan nilai atau isi objek, sehingga x == y → True karena kedua list memiliki elemen yang sama. Sebaliknya, is membandingkan identitas objek di memori, sehingga x is y → False karena x dan y adalah objek berbeda meskipun isinya sama.

In [ ]:
#7.Membership Operators
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)

fruits = ["apple", "banana", "cherry"]
print("pineapple" not in fruits)

### Analisis:
Kode program tersebut menunjukkan penggunaan operator keanggotaan (in dan not in) dalam Python. Operator in mengecek apakah sebuah nilai terdapat dalam sebuah koleksi, misalnya "banana" in fruits → True. Sebaliknya, not in mengecek apakah nilai tidak ada di koleksi, misalnya "pineapple" not in fruits → True.

In [ ]:
#Membership in Strings
text = "Hello World"
print("H" in text)
print("hello" in text)
print("z" not in text)

### Analisis:
Kode program tersebut menunjukkan penggunaan operator keanggotaan (in dan not in) pada string. Pernyataan "H" in text menghasilkan True karena karakter "H" ada di string, "hello" in text menghasilkan False karena Python membedakan huruf besar dan kecil, dan "z" not in text menghasilkan True karena karakter "z" tidak ada di string "Hello World".

In [ ]:
#8.Bitwise Operators
print(6 & 3)

print(6 | 3)

print(6 ^ 3)

### Analisis:
Kode program tersebut menunjukkan penggunaan operator bitwise dalam Python.

& (AND) membandingkan setiap bit kedua angka dan mengembalikan 1 jika keduanya 1, misalnya 6 & 3 → 2.

| (OR) mengembalikan 1 jika salah satu bit 1, misalnya 6 | 3 → 7.

^ (XOR) mengembalikan 1 jika hanya satu bit 1, misalnya 6 ^ 3 → 5.

Operator ini bekerja pada representasi biner angka.

In [ ]:
#9.Operator Precedence
print((6 + 3) - (6 + 3))

print(100 + 5 * 3)

### Analisis:
Kode program tersebut menunjukkan pengaruh prioritas operator (operator precedence) dalam Python. Python mengikuti aturan matematika standar: operasi di dalam kurung dijalankan terlebih dahulu, kemudian perkalian/divisi, baru penjumlahan/pengurangan. Contohnya, (6 + 3) - (6 + 3) → 0 karena penjumlahan dalam kurung dihitung terlebih dahulu, dan 100 + 5 * 3 → 115 karena perkalian dilakukan sebelum penjumlahan.

In [ ]:
#Left-to-Right Evaluation
print(5 + 4 - 7 + 3)

### Analisis:
Kode program tersebut menunjukkan pengaruh prioritas operator (operator precedence) dalam Python. Python mengikuti aturan matematika standar: operasi di dalam kurung dijalankan terlebih dahulu, kemudian perkalian/divisi, baru penjumlahan/pengurangan. Contohnya, (6 + 3) - (6 + 3) → 0 karena penjumlahan dalam kurung dihitung terlebih dahulu, dan 100 + 5 * 3 → 115 karena perkalian dilakukan sebelum penjumlahan.

## Percobaan 9 Python If Statement

In [ ]:
#1.Python Conditions and If statements
a = 33
b = 200
if b > a:
  print("b is greater than a")

### Analisis:
Kode program tersebut menunjukkan struktur kondisi if dalam Python. Kondisi b > a diperiksa, dan jika bernilai True, blok kode di dalam if dijalankan, sehingga menghasilkan output "b is greater than a".

In [ ]:
#How If Statements Work
number = 15
if number > 0:
  print("The number is positive")

### Analisis:
Kode program tersebut menunjukkan cara kerja pernyataan if dalam Python. Kondisi number > 0 diperiksa, dan karena bernilai True, blok kode di dalam if dijalankan sehingga menampilkan output "The number is positive".

In [ ]:
#2.Python Elif Statement
#The Elif Keyword
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

### Analisis:
Kode program tersebut menunjukkan penggunaan elif dalam Python untuk menambahkan kondisi tambahan pada percabangan. Jika kondisi if b > a False, Python akan memeriksa kondisi elif a == b. Karena a dan b sama, blok elif dijalankan sehingga menghasilkan output "a and b are equal".

In [ ]:
#Multiple Elif Statements
score = 75

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")

### Analisis:
Kode program tersebut menunjukkan penggunaan beberapa pernyataan elif berturut-turut dalam Python untuk menangani beberapa kondisi. Variabel score = 75 diperiksa secara berurutan: karena tidak memenuhi kondisi score >= 90 atau score >= 80, kondisi score >= 70 True, sehingga blok kode ini dijalankan dan menghasilkan output "Grade: C".

In [ ]:
#How Elif Works
age = 25

if age < 13:
  print("You are a child")
elif age < 20:
  print("You are a teenager")
elif age < 65:
  print("You are an adult")
elif age >= 65:
  print("You are a senior")

### Analisis:
Kode program tersebut menunjukkan cara kerja elif dalam percabangan Python. Variabel age = 25 diperiksa secara berurutan: kondisi age < 13 dan age < 20 False, sedangkan age < 65 True, sehingga blok kode ini dijalankan dan menghasilkan output "You are an adult". Hal ini memperlihatkan bagaimana elif memungkinkan program memeriksa beberapa kondisi secara berurutan.

In [ ]:
#When to Use Elif
day = 3

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

### Analisis:
Kode program tersebut menunjukkan penggunaan elif untuk memilih satu dari banyak kondisi yang mungkin. Variabel day = 3 diperiksa secara berurutan, dan karena day == 3 True, blok kode ini dijalankan sehingga menampilkan output "Wednesday". Contoh ini memperlihatkan bagaimana elif memudahkan pemilihan kondisi spesifik tanpa menulis banyak if terpisah.

In [ ]:
#3.Python Else Statement
#The Else Keyword
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

### Analisis:
Kode program tersebut menunjukkan penggunaan else dalam percabangan Python. Jika kondisi if dan semua elif bernilai False, blok kode di dalam else dijalankan. Dengan a = 200 dan b = 33, kondisi b > a dan a == b False, sehingga else dijalankan dan menghasilkan output "a is greater than b".

In [ ]:
#Else Without Elif
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

### Analisis:
Kode program tersebut menunjukkan bahwa else dapat digunakan tanpa elif dalam percabangan Python. Jika kondisi if bernilai False, blok kode di dalam else dijalankan. Dengan a = 200 dan b = 33, kondisi b > a False, sehingga else dijalankan dan menghasilkan output "b is not greater than a".

In [ ]:
#How Else Works
number = 7

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

### Analisis:
Kode program tersebut menunjukkan cara kerja else untuk menangani kondisi yang tidak terpenuhi oleh if. Variabel number = 7 diperiksa dengan kondisi number % 2 == 0; karena 7 bukan bilangan genap, kondisi False, sehingga blok else dijalankan dan menghasilkan output "The number is odd".

In [ ]:
#Complete If-Elif-Else Chain
temperature = 22

if temperature > 30:
  print("It's hot outside!")
elif temperature > 20:
  print("It's warm outside")
elif temperature > 10:
  print("It's cool outside")
else:
  print("It's cold outside!")

### Analisis:
Kode program tersebut menunjukkan rantai lengkap percabangan if-elif-else dalam Python. Variabel temperature = 22 diperiksa secara berurutan: kondisi temperature > 30 False, tetapi temperature > 20 True, sehingga blok kode ini dijalankan dan menghasilkan output "It's warm outside". Contoh ini memperlihatkan bagaimana Python memilih satu blok kode dari beberapa kondisi yang saling eksklusif.

In [ ]:
#Else as Fallback
username = "Emil"

if len(username) > 0:
  print(f"Welcome, {username}!")
else:
  print("Error: Username cannot be empty")

### Analisis:
Kode tersebut menggunakan pernyataan if-else untuk memeriksa apakah variabel username memiliki isi. Jika panjang username lebih dari nol, program menampilkan pesan sambutan dengan nama pengguna. Jika tidak, maka program menampilkan pesan kesalahan bahwa username tidak boleh kosong.

In [ ]:
#4.Python Shorthand If
#Short Hand If
a = 5
b = 2
if a > b: print("a is greater than b")

### Analisis:
Kode tersebut menggunakan shorthand if, yaitu bentuk singkat dari pernyataan if dalam satu baris. Program memeriksa apakah a lebih besar dari b; jika benar, maka langsung mencetak "a is greater than b".

In [15]:
#Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

B

### Analisis:
Kode tersebut menggunakan shorthand if...else, yaitu bentuk singkat dari struktur if else dalam satu baris. Program membandingkan nilai a dan b; karena a lebih kecil dari b, maka output yang dicetak adalah "B".

In [ ]:
#Assign a Value With If ... Else
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

### Analisis:
Kode tersebut menggunakan shorthand if...else untuk penugasan nilai. Variabel bigger akan berisi nilai yang lebih besar antara a dan b. Karena a (10) lebih kecil dari b (20), maka nilai bigger adalah 20, sehingga outputnya: "Bigger is 20".

In [ ]:
#Multiple Conditions on One Line
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

### Analisis:
Kode tersebut menggunakan shorthand if...elif...else dalam satu baris untuk membandingkan dua nilai. Jika a lebih besar dari b, maka mencetak "A"; jika sama, mencetak "="; dan jika b lebih besar, mencetak "B". Karena a dan b bernilai sama (330), hasil outputnya adalah "=".

In [ ]:
#Practical Examples
x = 15
y = 20
max_value = x if x > y else y
print("Maximum value:", max_value)

username = ""
display_name = username if username else "Guest"
print("Welcome,", display_name)

### Analisis:
Kode tersebut menunjukkan penggunaan praktis shorthand if...else.
Baris pertama menentukan nilai maksimum antara x dan y, di mana max_value berisi y karena 20 lebih besar dari 15.
Baris kedua menetapkan nama tampilan: jika username kosong, maka digunakan nilai default "Guest".

In [ ]:
#5.Python Logical Operators
#The and Operator
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

### Analisis:
Kode tersebut menggunakan operator logika and untuk memeriksa dua kondisi sekaligus: apakah a lebih besar dari b dan c lebih besar dari a.
Karena kedua kondisi benar (200 > 33 dan 500 > 200), maka program mencetak:

In [ ]:
#The or Operator
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

### Analisis:
Program di atas menggunakan operator logika or untuk mengevaluasi dua kondisi, yaitu apakah a lebih besar dari b atau a lebih besar dari c. Nilai a adalah 200, b adalah 33, dan c adalah 500. Karena kondisi pertama (a > b) bernilai benar meskipun kondisi kedua (a > c) salah, maka pernyataan dalam blok if dijalankan dan menampilkan output "At least one of the conditions is True". Hal ini menunjukkan bahwa operator or akan menghasilkan nilai benar jika minimal satu kondisi terpenuhi.

In [ ]:
#The not Operator
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

### Analisis:
Program di atas menggunakan operator logika not untuk membalik hasil dari suatu kondisi logika. Kondisi yang diuji adalah a > b, dengan nilai a = 33 dan b = 200. Karena a > b bernilai salah, maka not a > b menjadi benar. Oleh karena itu, program mengeksekusi perintah di dalam blok if dan menampilkan output "a is NOT greater than b". Operator not berguna untuk membalikkan nilai logika dari suatu ekspresi.

In [ ]:
#Combining Multiple Operators
age = 25
is_student = False
has_discount_code = True

if (age < 18 or age > 65) and not is_student or has_discount_code:
  print("Discount applies!")

### Analisis:
Kode di atas menggabungkan beberapa operator logika (and, or, dan not) dalam satu kondisi. Variabel age = 25, is_student = False, dan has_discount_code = True. Kondisi if memeriksa apakah seseorang berhak mendapat diskon berdasarkan usia, status pelajar, atau kode diskon. Karena has_discount_code bernilai True, maka keseluruhan ekspresi menghasilkan True, sehingga program menampilkan output "Discount applies!". Program ini menunjukkan cara menggabungkan beberapa kondisi logika untuk pengambilan keputusan yang lebih kompleks.

In [ ]:
#Using Parentheses for Clarity
temperature = 25
is_raining = False
is_weekend = True

if (temperature > 20 and not is_raining) or is_weekend:
  print("Great day for outdoor activities!")

### Analisis:
Kode di atas menggunakan tanda kurung untuk memperjelas urutan evaluasi kondisi logika. Dengan temperature = 25, is_raining = False, dan is_weekend = True, ekspresi (temperature > 20 and not is_raining) bernilai True, dan karena juga is_weekend True, kondisi keseluruhan menjadi True. Maka program menampilkan "Great day for outdoor activities!". Penggunaan tanda kurung di sini membantu memastikan logika program mudah dibaca dan dieksekusi sesuai urutan yang diinginkan.

In [ ]:
#More Examples
username = "Tobias"
password = "secret123"
is_verified = True
if username and password and is_verified:
  print("Login successful")
else:
  print("Login failed")

score = 85
if score >= 0 and score <= 100:
  print("Valid score")
else:
  print("Invalid score")

### Analisis:
Kode di atas menampilkan dua contoh penggunaan operator logika and. Pada contoh pertama, kondisi username, password, dan is_verified semuanya harus benar agar program menampilkan "Login successful", jika tidak maka "Login failed". Pada contoh kedua, program memeriksa apakah nilai score berada dalam rentang 0 hingga 100. Jika ya, maka akan mencetak "Valid score", sedangkan jika tidak, hasilnya adalah "Invalid score".

In [ ]:
#6.Python Nested If
#Nested If Statements
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

### Analisis:
Kode di atas menunjukkan nested if (percabangan bersarang) di Python. Program pertama memeriksa apakah x lebih besar dari 10, jika benar maka mencetak "Above ten,". Lalu, di dalam blok tersebut ada pemeriksaan kedua — jika x juga lebih besar dari 20, maka mencetak "and also above 20!", tetapi jika tidak, hasilnya adalah "but not above 20.". Jadi, kondisi kedua hanya dijalankan jika kondisi pertama terpenuhi.

In [ ]:
#How Nested If Works
age = 25
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

### Analisis:
Kode ini menunjukkan cara kerja nested if atau percabangan di dalam percabangan. Pertama, program memeriksa apakah age lebih besar atau sama dengan 18. Jika benar, maka dicek lagi apakah has_license bernilai True. Jika iya, program mencetak "You can drive", tetapi jika tidak, mencetak "You need a license". Namun, jika usia kurang dari 18, maka program langsung mencetak "You are too young to drive" tanpa memeriksa lisensi.

In [ ]:
#Multiple Levels of Nesting
score = 85
attendance = 90
submitted = True

if score >= 60:
  if attendance >= 80:
    if submitted:
      print("Pass with good standing")
    else:
      print("Pass but missing assignment")
  else:
    print("Pass but low attendance")
else:
  print("Fail")

### Analisis:
Kode ini menampilkan contoh nested if dengan beberapa tingkat. Program mengevaluasi tiga kondisi: nilai (score), kehadiran (attendance), dan status pengumpulan tugas (submitted). Jika nilai ≥ 60, program lanjut memeriksa kehadiran ≥ 80. Jika kedua syarat terpenuhi, lalu diperiksa apakah tugas telah dikumpulkan. Jika ya, muncul "Pass with good standing"; jika tidak, "Pass but missing assignment". Namun, jika kehadiran rendah, hasilnya "Pass but low attendance", dan jika nilai < 60, program menampilkan "Fail".

In [ ]:
#Nested If vs Logical Operators
temperature = 25
is_sunny = True

if temperature > 20:
  if is_sunny:
    print("Perfect beach weather!")

temperature = 25
is_sunny = True

if temperature > 20 and is_sunny:
  print("Perfect beach weather!")

### Analisis:
Kode ini menunjukkan perbandingan antara nested if dan logical operators. Pada contoh pertama, digunakan dua if bersarang untuk mengecek apakah suhu di atas 20 dan cuaca cerah sebelum mencetak "Perfect beach weather!". Pada contoh kedua, kedua kondisi digabung menggunakan operator logika and, menghasilkan hasil yang sama dengan kode yang lebih ringkas dan mudah dibaca.

In [ ]:
#More Examples
username = "Emil"
password = "python123"
is_active = True

if username:
  if password:
    if is_active:
      print("Login successful")
    else:
      print("Account is not active")
  else:
    print("Password required")
else:
  print("Username required")

score = 92
extra_credit = 5

if score >= 90:
  if extra_credit > 0:
    print("A+ grade")
  else:
    print("A grade")
elif score >= 80:
  print("B grade")
else:
  print("C grade or below")

### Analisis:
Kode ini menampilkan dua contoh penggunaan nested if. Pada bagian pertama, sistem login diperiksa berlapis: jika username, password, dan is_active semuanya benar, maka ditampilkan “Login successful”. Jika salah satu kondisi tidak terpenuhi, pesan kesalahan spesifik akan muncul. Pada bagian kedua, nilai score dan extra_credit digunakan untuk menentukan grade: nilai 90 ke atas mendapat “A+” bila ada bonus, atau “A” tanpa bonus, sedangkan nilai lebih rendah menghasilkan “B” atau “C grade or below”.

In [ ]:
#7.Python Pass Statement
#The pass Statement
a = 33
b = 200

if b > a:
  pass

### Analisis:
Kode ini menggunakan pernyataan pass sebagai placeholder di dalam blok if. Artinya, meskipun kondisi b > a benar, tidak ada tindakan yang dijalankan. Pernyataan pass berguna ketika kita ingin menulis struktur kode yang belum diisi logika, agar tidak menimbulkan error sintaks.

In [ ]:
#pass in Development
age = 16

if age < 18:
  pass # TODO: Add underage logic later
else:
  print("Access granted")

### Analisis:
Kode ini menunjukkan penggunaan pass saat pengembangan program sebagai placeholder untuk logika yang belum dibuat. Jika nilai age kurang dari 18, program tidak melakukan apa pun karena bagian itu belum diisi, tetapi tidak menimbulkan error. Jika age 18 atau lebih, maka program menampilkan “Access granted”.

In [ ]:
#pass vs Comments
score = 85

if score > 90:
  # This is excellent
# This will raise an IndentationError

score = 85

if score > 90:
  pass # This is excellent
print("Score processed")

### Analisis:
Kode ini menjelaskan perbedaan antara komentar dan pass. Jika hanya menggunakan komentar tanpa pernyataan dalam blok if, Python akan menimbulkan IndentationError karena blok if kosong. Namun, dengan menambahkan pass, program tetap berjalan normal meskipun belum ada logika di dalamnya, dan akan menampilkan “Score processed”.

In [ ]:
#pass with Multiple Conditions
value = 50

if value < 0:
  print("Negative value")
elif value == 0:
  pass # Zero case - no action needed
else:
  print("Positive value")

### Analisis:
Kode ini menunjukkan penggunaan pass dalam kondisi tertentu. Jika nilai value kurang dari 0, program mencetak “Negative value”; jika sama dengan 0, program tidak melakukan apa pun karena menggunakan pass; dan jika lebih besar dari 0, program mencetak “Positive value”. Ini berguna saat ingin melewati kondisi tanpa error.

In [ ]:
#pass in Other Contexts
def calculate_discount(price):
  pass # TODO: Implement discount logic

# Function exists but doesn't do anything yet

### Analisis:
Kode ini menunjukkan penggunaan pass di dalam fungsi. Fungsi calculate_discount(price) sudah didefinisikan tetapi belum memiliki logika apapun karena baris pass hanya berfungsi sebagai placeholder agar tidak menimbulkan error. Ini berguna saat struktur program sudah dibuat, tetapi detail implementasinya akan ditambahkan nanti.

## Percobaan 10 Python Match

In [ ]:
#The Python Match Statement
match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block

### Analisis
Kode ini menjelaskan struktur dasar match statement di Python, yang berfungsi seperti switch-case pada bahasa lain. Pernyataan match expression: mengevaluasi nilai dari expression, lalu mencocokkannya dengan setiap case. Jika ada kecocokan, blok kode di dalam case tersebut akan dijalankan. Fitur ini memudahkan pengambilan keputusan berdasarkan beberapa kemungkinan nilai dengan cara yang lebih rapi dan terstruktur dibandingkan menggunakan banyak if-elif-else.

In [ ]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

### Analisis
Kode ini menggunakan match statement untuk menentukan hari berdasarkan nilai variabel day. Dalam contoh tersebut, day = 4, sehingga Python mencocokkan nilai ini dengan case 4 dan menampilkan output "Thursday". Setiap case mewakili satu kemungkinan nilai dari day, mirip dengan struktur switch-case di bahasa lain. Jika nilai day tidak cocok dengan salah satu case, maka tidak ada output yang ditampilkan.

In [ ]:
#Default Value
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

### Analisis
Kode ini menggunakan match statement dengan default case (case _) untuk menangani nilai yang tidak cocok dengan kondisi sebelumnya. Karena nilai day = 4 tidak sama dengan 6 atau 7, maka program menjalankan bagian default dan menampilkan output: "Looking forward to the Weekend". Tanda garis bawah (_) berfungsi seperti else dalam struktur kondisi biasa.

In [ ]:
#Combine Values
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

### Analisis
Kode ini menunjukkan cara menggabungkan beberapa nilai dalam satu case menggunakan operator | (or) pada pernyataan match. Karena day = 4, program mencocokkan nilai tersebut dengan case 1 | 2 | 3 | 4 | 5 dan menampilkan output "Today is a weekday". Teknik ini memudahkan penanganan beberapa kondisi yang memiliki hasil sama tanpa menulis banyak case terpisah.

In [ ]:
#If Statements as Guards
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

### Analisis
Kode ini menggunakan if guard di dalam pernyataan match untuk menambahkan kondisi tambahan pada setiap case. Variabel day = 4 dan month = 5, sehingga cocok dengan case kedua (1 | 2 | 3 | 4 | 5 if month == 5) dan menghasilkan output "A weekday in May". Konsep ini memungkinkan match menangani pola yang sama dengan syarat berbeda secara efisien.